h1{
    text-align: center;
}

.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  .example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  .example button:hover {
    background: #0b7dda;
  }
  
  .example::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    max-width: 100%;
    margin: 0;
  }

  .card-body{
    background-color: rgb(0, 123, 255);
    color: white;
  }
  #firstcard{
    padding: 2%;
  }
  #UVindex {
   background-color: red;
   color: white;
   padding: 1%;
  
  }
  button{
    text-align: left;
  }
  img{
    width: 20%;
    float: left;
  }
  /* 1.25rem; */
  #locationName{
    font-size: 1.25rem;
  }
